.box-function {
    padding: 16px;
  }
  
  .categories-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
  }
  
  .category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
  }
  
  .icon img {
    width: 40px;
    height: 40px;
  }
  
  .category-name {
    margin-top: 2px;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
  }
  